@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
  --font-family: 'Roboto', sans-serif;
  --box-shadow: rgba(126, 84, 71, 0.2) 0px 7px 29px 0px;
  --dark: #161414;
  --light-orange: #3b84863f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: lightgray;
}

a {
  text-decoration: none;
  color: unset;
}


.item{
    margin-bottom: 30px;
    text-align: justify;
}

p {
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
}

.card {
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  background: white;
}

.container {
  margin: 3rem 5rem;
  padding: 2rem 0;
  background: white;
  border-radius:10px;
}

.content {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--dark);
  margin-bottom:15px; 

}

.content > p {
  margin: 1rem 0;
}

.contact {
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: all 300ms;
}

.contact {
  border-radius: 2rem;
  background: var(--dark);
  color: whitesmoke;
  margin-bottom: 0.5rem;
}

.contact:hover {
  background: var(--dark-orange);
}

.ref {
  display: flex;
  align-items: flex-start;
  width: 500px;  
}
.download {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--dark);
  width: 500px;
  padding: 0.5rem 1rem;
  transition: all 300ms;
  width: fit-content;
}

.download a{
  display: flex;
  width: 500px;
}

.sosmed {
  display: flex;
  gap: 0.3rem;
  margin: 1.5rem 0 2rem;
  width: 250px;
  font-size: 30px;
}

.sosmed .icon {
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.social-media img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

figure {
  width: 250px;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

figcaption {
  text-align: center;
  padding: 0.7rem 0;
  color: var(--dark);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.125rem;
}

figcaption > p {
  text-align: center;
}
